Package: pardus-lightdm-greeter-qrkilit
Version: 1.1
Architecture: all
Maintainer: bayramkarahan <bayramk@gmail.com>
Installed-Size: 23
Depends: pardus-lightdm-greeter, python3-qrcode
Section: misc
Priority: optional
Homepage: https://www.pardus.org.tr
Description: Pardus Greeter qrkilit plugin
 Pardus greeter qrkilit plugin
