[Desktop Entry]
Version=1.0
Name=qrkilit Application
Name[tr]=qrkilit Uygulaması
Type=Application
Comment=qrkilit
Comment[tr]=qrkilit
Terminal=false
Exec=sh -c "pkexec env DISPLAY=$DISPLAY XAUTHORITY=$XAUTHORITY /usr/bin/qrkilit"
Icon=/usr/share/icons/qrkilit.svg
Categories=Utility;
Keywords=package;paket;
GenericName=qrkilit
